 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="/css/style.css">
 </head>
 <body>
    <div class="box">
        <h1>TODO LIST</h1>

        <% dayej.forEach(function(task,index) { %>
            <div class="item">

                <form action="/delete/<%= task._id %>?_method=DELETE" method="POST" style="display:inline;">
                <input type="checkbox" id="task-<%= index %>" onchange="this.form.submit()">
                <label for="task-<%= index %>"><%= task.name %></label>
                </form>
                <button class="option1" onclick="editTask('<%= task._id %>','<%= task.name %>')">Edit-Task</button>
        </div>
            <%= }); %>

            <form action="item" action="/" method="Post">
                <input type="text" name="elel" placeholder="enter item" required>
                <button type="submit">+</button>
            </form>
    </div>
    <script>
        async function editTask(id,oldName){
            const newName = prompt("Edit task:",oldName);
            if(newName && newName.trim() !==""){
                await fetch(`/update/&{id?_method=PUT}`,{
                    method: "POST",
                    headers: {"Content-Type":"application/json"},
                    body:JSON.stringify({name:newName})
                });
                location.reload();
            }
        }
    </script>
 </body>
 </html>
